<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fluffy Duffy Munchkin Cats</title>
    <link rel="stylesheet" href="./../bootstrap.min.css">
    <link rel="stylesheet" href="./../style.css">
</head>
<body>
    <div class="jumbotron">
        <h1>Welcome to Fluffy Duffy Munchkin Cats!</h1>
        <h4>Navigate trough the application using links below!</h4>
    </div>
    <div class="lead d-inline-block">
        <a class="btn btn-primary btn-lg" href="cats/create" role="button">Create a Cat!</a>
    </div>
    <div class="lead d-inline-block">
        <a class="btn btn-primary btn-lg" href="cats/all" role="button">All Cats!</a>
    </div>
</body>
</html>